    *{
        box-sizing: border-box;
    }
    body{
        background: gray;
    }
    div{
        background-color: rgb(219, 219, 219);
        text-align: center;
        margin: 10px;
    }
    .cardContainer{
        display: block;
        position: relative;
        top: 50px;
        left: 37%;
        width: 100%;
        min-width: 120px;
        max-width: 400px;
        height: 100%;
        margin: 10px;
        border-radius: 40px;
        margin-bottom: -10px;
    }
    .backgroundImage{
        margin: 0%;
        width: inherit;
        height: 200px;
        overflow: hidden;
        border-radius: 20px;
    }
    .backgroundImage > img{
        width: 100%;
        position:static;
        border-radius: 0px;
        top:30%;
    }
    .avatar{
        position:relative;
        top: -80px;
        left: 30%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border: solid 3px white;
        border-radius: 50%;
        z-index: 1;
    }
    .avatar > img {
        width: inherit;
        height: inherit;
    }
    .text{
        position: relative;
        bottom: 70px;
    }
    .contacts{
        margin-top: 10px;
        display: inline-block;
        margin-bottom: 0px;
    }
    .pictures{
        display: block;
    }
    .pictures > img{
        height: 40px;
    }